@import 'src/_styleguide.scss';

//***************
// Variables
//***************
$padding: (10/16) * 1em; // Set padding relative to the font size in the button

//***************
// Base Style
//***************
.button {
    @include body;

    padding: $padding 2 * $padding;
    cursor: pointer;
}

//***************
// Prop Styles
//***************

@mixin fill($color) {
    &.outline {
        color: $text-on-body;
        background: transparent;
        border-width: 2px;

        &:hover {
            background: $color;
            border-color: $color;
        }
    }

    &.none {
        color: $color;
        background: transparent;
        border-color: transparent;

        &:hover {
            color: darken($color, $darken-pct);
            background: transparent;
            border-color: transparent;
        }
    }
}
// Prop: role
.primary {
    @include primary-color-section(true);
    @include fill($primary);
}

.secondary {
    @include secondary-color-section(true);
    @include fill($secondary);
}

.danger {
    @include danger-color-section(true);
    @include fill($danger);
}

// Prop: shape
.rounded {
    border-radius: $padding + 1em;
}

.square {
    border-radius: 0;
}

.soft {
    border-radius: 0.25em;
}
