@import 'src/_styleguide.scss';

//***************
// Variables
//***************
$padding: (10/16) * 1em; // Set padding relative to the font size in the button

//***************
// Base Style
//***************
.button {
    @include body;

    border: none;
    padding: $padding 2 * $padding;
    cursor: pointer;
}

//***************
// Prop Styles
//***************

// Prop: context
.primary {
    @include primary-color-section(true);
}

.secondary {
    @include secondary-color-section(true);
}

.danger {
    @include danger-color-section(true);
}

// Prop: appearance
.rounded {
    border-radius: $padding + 1em;
}

.square {
    border-radius: 0;
}

.oval {
    border-radius: 50%;
}
