@import 'src/styleguide.scss';

$padding: 10px;

%button {
    @include body();

    border: none;
    padding: $padding $padding * 2;
    border-radius: $padding + $body/2;
    cursor: pointer;
}

@mixin button($col, $back, $hov) {
    @extend %button !optional;

    background: $back;
    color: $col;

    &:hover {
        background: $hov;
    }
}

.primary {
    @include button($withinPrimary, $primary, $primaryHover);
}

.secondary {
    @include button($withinSecondary, $secondary, $secondaryHover);
}

.danger {
    @include button($withinDanger, $danger, $dangerHover);
}
