@mixin size($num) {
    height: $num;
    width: $num;
}

.small {
    @include size(16px);
}

.medium {
    @include size(24px);
}

.large {
    @include size(32px);
}

.xl {
    @include size(48px);
}

.clickable {
    cursor: pointer;
}
