@import 'src/_styleguide.scss';

//***************
// Variables
//***************
$padding: 1rem;
$halfpad: 0.5 * $padding;

//***************
// Base Style
//***************
.container {
    width: 100%;
}

.heading {
    @include primary-color-section();
    border: 1px solid $bordercolor;
    padding: $halfpad $halfpad $halfpad $padding;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: auto;
    }

    fill: $within-primary;
}

.content {
    border: 1px solid $bordercolor;
    border-top: none;
    padding: $padding;
}
