// Should be used to establish all colors and fonts vis scss variables/mixins
// Current values are purely for example and should be updated for each new app

// Variant Levels
$darken-pct: 10%;
$lighten-pct: 10%;

// Brand Colors - Follow Material Design naming conventions: https://material.io/tools/color/
$primary: #004d40;
$primary-dark: darken($primary, $darken-pct);
$primary-light: lighten($primary, $lighten-pct);

$secondary: #90a4ae;
$secondary-dark: darken($secondary, $darken-pct);
$secondary-light: lighten($secondary, $lighten-pct);

$accent: #2196f3;
$accent-dark: darken($accent, $darken-pct);
$accent-light: lighten($accent, $lighten-pct);

$danger: #7f0000;
$danger-dark: darken($danger, $darken-pct);
$danger-light: lighten($danger, $lighten-pct);

$text-on-primary: white;
$text-on-secondary: black;
$text-on-accent: black;
$text-on-danger: white;
$text-on-body: black;
$text-on-link: $primary;

$border-color: #909ab7;
$background: #f1f1f1;
$surface: #cfd8dc;

// Color Stacks
$primary-stack: $primary, $text-on-primary, $primary-dark;
$secondary-stack: $secondary, $text-on-secondary, $secondary-dark;
$accent-stack: $accent, $text-on-accent, $accent-dark;
$danger-stack: $danger, $text-on-danger, $danger-dark;

@mixin color-section($col-stack, $hover) {
    background: nth($col-stack, 1);
    color: nth($col-stack, 2);

    @if $hover == 'true' {
        &:hover {
            background: nth($col-stack, 3);
        }
    }
}

@mixin primary-color-section($hover: false) {
    @include color-section($primary-stack, $hover);
}

@mixin secondary-color-section($hover: false) {
    @include color-section($secondary-stack, $hover);
}

@mixin accent-color-section($hover: false) {
    @include color-section($accent-stack, $hover);
}

@mixin danger-color-section($hover: false) {
    @include color-section($danger-stack, $hover);
}

// Fonts
$font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@mixin common {
    color: $primary;
    font-family: $font-stack;
    font-weight: bolder;
}

// Base fonts
@mixin heading1 {
    @include common();
    font-size: 2rem;
    margin: 0.67em 0;
}

@mixin heading2 {
    @include common();
    font-size: 1.5rem;
    margin: 0.75em 0;
}

@mixin heading3 {
    @include common();
    font-size: 1.17rem;
    margin: 0.83em 0;
}

@mixin heading4 {
    @include common();
    font-size: 1rem;
    margin: 1rem 0;
}

@mixin heading5 {
    @include common();
    font-size: 0.83rem;
    margin: 1.5em 0;
}

@mixin heading6 {
    @include common();
    font-size: 0.75rem;
    margin: 1.67em 0;
}

@mixin body {
    font-size: 1rem;
    font-family: $font-stack;
}

@mixin label {
    font-size: 1rem;
    font-family: $font-stack;
}
