// Should be used to establish all colors and fonts vis scss variables/mixins
// Current values are purely for example and should be updated for each new app

// Base colors
$primary: green;
$secondary: darkgray;
$accent: gold;
$danger: red;
$text: black;
$link: blue;

// Hover colors
$primaryHover: darken($primary, 10%);
$secondaryHover: darken($secondary, 10%);
$accentHover: darken($accent, 10%);
$dangerHover: darken($danger, 10%);
$linkHover: darken($link, 10%);

// Colors for text within colored areas
$withinPrimary: white;
$withinSecondary: black;
$withinAccent: black;
$withinDanger: white;

// Font Sizes
$h1: 24px;
$h2: 18px;
$body: 12px;
$label: 10px;

// Base fonts
@mixin heading1 {
    color: $primary;
    font-size: $h1;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin heading2 {
    color: $secondary;
    font-size: $h2;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin body {
    color: $text;
    font-size: $body;
    line-height: $body;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin label {
    color: $text;
    font-size: $label;
    font-family: Arial, Helvetica, sans-serif;
}
